@using Tatu.Marchesan.Ideias.App.Core.Extensions;
@using Tatu.Marchesan.Ideias.Domain.Enums;
@using Tatu.Marchesan.Ideias.App.ViewModels;

@model IEnumerable<IdeiasFiltroViewModel>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data de Inclusão</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DataInclusao.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.Descricao</td>
                            <td class="text-right">
                                <div class="btn-group">

                                    <a class="btn btn-white" disable-by-claim-name="Ideias" disable-by-claim-value="Details" asp-action="Details" asp-route-id="@item.Id" title="Visualizar">
                                        <spam class="fa fa-search"></spam>
                                    </a>

                                    <a class="btn btn-white" disable-by-claim-name="Ideias" disable-by-claim-value="Edit" asp-action="Edit" asp-route-id="@item.Id" suppress-by-userid="@item.AspNetUsersId" suppress-by-ideiaId="@item.Id" title="Editar">
                                        <spam class="fa fa-pencil"></spam>
                                    </a>

                                    <a class="btn btn-white" disable-by-claim-name="Ideias" disable-by-claim-value="Delete" suppress-by-userid="@item.AspNetUsersId" suppress-by-ideiaId="@item.Id" data-id="@item.Id" data-toggle="modal" href="#modal-excluir-ideia" title="Excluir">
                                        <spam class="fa fa-trash"></spam>
                                    </a>

                                    @if (item.StatusId == StatusEnum.IdeiaCriada.ToInt())
                                    {
                                        <a class="btn btn-white" title="Enviar Ideia" asp-controller="Ideias" asp-action="EnviarIdeiaParaAnalise" asp-route-id="@item.Id">
                                            <spam class="fa fa-comments"></spam>
                                        </a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">Nenhuma ideia encontrada</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<partial name="_ExcluirIdeias" />