@model Softsige.Ideias.App.ViewModels.ClaimViewModel

<div class="modal" id="modal-adicionar-claim" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated">
            <div class="modal-header header-blue">
                <h4 class="modal-title">Nova Permissão</h4>
                <button type="button" class="close" data-dismiss="modal"><span class="text-white" aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
            </div>
            <form asp-controller="Admin" asp-action="AdicionarClaim" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input id="UserId" type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Type" />
                <input type="hidden" asp-for="Value" />
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="@Model.Type" class="control-label"></label>
                        <select class="form-control" id="cbxRole" asp-items="ViewBag.AddClaimRoles">
                            <option value="">Selecione...</option>
                        </select>
                        <span asp-validation-for="@Model.Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Value" class="control-label"></label>
                        <select class="form-control" id="cbxClaimRole" asp-items="ViewBag.AddClaimRolesClaim" multiple></select>
                        <span asp-validation-for="@Model.Value" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                    <button type="submit" id="btnAdicionarClaim" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>