@using Softsige.Ideias.App.Core.Extensions;
@using Softsige.Ideias.App.ViewModels;
@using Softsige.Ideias.Domain.Enums;

@model IEnumerable<ComiteFiltroViewModel>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data de Inclusão da Ideia</th>
                <th>Descrição da ideia</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DataInclusao.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.Descricao</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a class="btn btn-white" asp-controller="Comite" asp-action="Details" asp-route-id="@item.Id" title="Visualizar">
                                        <spam class="fa fa-search"></spam>
                                    </a>
                                    @{
                                        // Avaliador
                                        if (item.StatusId == StatusEnum.EmAnalise1.ToInt())
                                        {
                                            <a class="btn btn-white" suppress-by-claim-name="Comite" suppress-by-claim-value="Avaliar" suppress-by-avaliacao1="@item.Id" asp-controller="Comite" asp-action="Create" asp-route-id="@item.Id" title="Avaliar">
                                                <spam class="fa fa-commenting-o"></spam>
                                            </a>
                                        }
                                        else if (item.StatusId == StatusEnum.EmAnalise2.ToInt())
                                        {
                                            <a class="btn btn-white" suppress-by-avaliacao2="@item.Id" asp-controller="Comite" asp-action="Create" asp-route-id="@item.Id" title="Avaliar">
                                                <spam class="fa fa-commenting-o"></spam>
                                            </a>
                                        }

                                        //Moderador
                                        if (User.IsInRole("Moderador"))
                                        {
                                            <a class="btn btn-white" asp-controller="Comite" asp-action="Avaliacoes" asp-route-id="@item.Id" title="Visualizar avaliaçoes">
                                                <spam class="fa fa-print"></spam>
                                            </a>

                                            if (item.StatusId == StatusEnum.EmAnalise1.ToInt())
                                            {
                                                <a class="btn btn-white" asp-controller="Comite" asp-action="HabilitarSegundaAvaliacao" asp-route-id="@item.Id" title="Habilitar Segunda Avaliação">
                                                    <spam class="fa fa-commenting"></spam>
                                                </a>
                                            }

                                            if (item.StatusId == StatusEnum.AprovadaEmComite.ToInt())
                                            {
                                                <a class="btn btn-white" suppress-by-reuniao="@item.Id" data-ideiaid="@item.Id" data-toggle="modal" href="#modal-criar-reuniao" title="Criar Reunião">
                                                    <spam class="fa fa-calendar"></spam>
                                                </a>

                                                <a class="btn btn-white" suppress-by-reuniao-ata="@item.Id" data-ideiaid="@item.Id" data-toggle="modal" href="#modal-ata-reuniao" title="Ata Reunião">
                                                    <spam class="fa fa-upload"></spam>
                                                </a>
                                            }
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">Não existe ideias para avaliação até o momento</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<partial name="_AdicionarReuniao" />
<partial name="_AdicionarAtaReuniao" model="@new AnexosViewModel()" />