@using Tatu.Marchesan.Ideias.Domain.Enums
@using Tatu.Marchesan.Ideias.App.Core.Extensions

@model Tatu.Marchesan.Ideias.App.ViewModels.IdeiasViewModel

@if (Model.Anexos != null)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Evento</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Anexos.Any())
                {
                    @foreach (var item in Model.Anexos)
                    {
                        <tr>
                            <td>
                                @if (item.EventoTipoId == EventoTipoEnum.Anexo.ToInt())
                                {
                                    @Html.DisplayName("Ideia")
                                }
                                else if (item.EventoTipoId == EventoTipoEnum.AtaReuniao.ToInt())
                                {
                                    @Html.DisplayName("Ata")
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a class="btn-white btn btn-xs" onclick="window.location='/Ideias/DownloadAnexo?filename=@item.Path';">
                                        Download
                                    </a>
                                    @if (ViewData["Details"] == null || (bool)ViewData["Details"] == false)
                                    {
                                        <a suppress-by-userid="@Model.AspNetUsersId" class="btn-white btn btn-xs" data-toggle="modal" href="#modal-excluir-anexo" data-id="@item.Id" data-ideiaid="@Model.Id" data-filename="@item.Path">
                                            Excluir
                                        </a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">Nenhum anexo adicionado até o momento</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}